.App {
  text-align: left;
}
.dnow-regionsContent {
  background-color: SlateGray;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.dnow-regionsContent .card-img-overlay,
img {
  max-height: 40rem;
}

.sign-in-page {
  text-align: center;
}

.overlay-div {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  max-height: 5rem;
}

.navbar-brand {
  font-size: 14px !important;
}

.topnav .navbar {
  max-height: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-title {
  font-family: monospace;
  margin-right: 10px;
}

.header-icon {
  max-height: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
